<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group4.memoryv10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="m">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo2" />

        <activity
            android:name=".PreviousImageGame_Level2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RepeatedImagesGame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreviousImageGame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MatchingGame_NoAudio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MatchingGame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MB_TestActivity_Part2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MB_TestActivity_Part1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GamesActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Ayarlar" />
        <activity android:name=".AddMemoryActivity" />
        <activity android:name=".EditMemoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MemoriesActivity" />
        </activity>
        <activity
            android:name=".MemoryBoxActivity"
            android:label="Testler" />
        <activity
            android:name=".MemoriesActivity"
            android:label="Anılarım" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profilim" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>